# Alert configuration
# Threshold percentage to alert on (default 90)
THRESHOLD_PERCENTAGE=90

# Polling interval in minutes (default 5)
POLLING_INTERVAL_MINUTES=5

# Which mount point to monitor (default /)
TARGET_MOUNT_POINT=/

# Mailgun Configuration
# Mailgun API Key (Required for emails)
MAILGUN_API_KEY=your-mailgun-api-key

# Mailgun Domain (Required for emails)
MAILGUN_DOMAIN=your-mailgun-domain.com

# Email address to send alerts to (Required for emails)
TO_EMAIL=admin@example.com

# Email address to send alerts from (Optional, defaults to ducheck@your-mailgun-domain.com)
# FROM_EMAIL=alerts@your-mailgun-domain.com
